### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

.bsp/*
.idea/*
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.metals/

# mdoc
website/node_modules
website/build
website/i18n/en.json
website/static/api
website/yarn.lock
zio-ftp-docs/
.DS_Store


